.containerForm{
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerItem{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.cardForm{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerBtn{
    padding: 5px;
    display: flex;
    justify-content: space-around;

}

.inputEdit{
    height: 30px;
}

.cerrarEditar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}